{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ quote_name }}{% endblock %}

{% block body_block %}
    <h1><strong>Saved Quotes</strong></h1>
          {% if quotes %}
            <ul>
                {% for quote in quotes %}
                 <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="{{ quote_list }}">{{ quote }}</a></li><br/>
                {% endfor %}
            </ul>
          {% else %}
            <strong>There are no saved Quotes yet.</strong>
          {% endif %}
{% endblock %}